################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeTrigger/Properties/PublishProfiles
/.vs/TimeTrigger
